* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: bisque;
  height: 100vh;
  gap: 20px;
}

label {
  font-size: 16px;
}

.btn {
  border-radius: 8px;
  width: auto;
  font-size: 16px;
  padding: 2px 10px;
}
